{% extends "base.html" %} {% block nav %}
<nav class="flex justify-between items-center py-4 px-6">
  <button
    onclick="window.location.href = document.referrer"
    type="button"
    class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
  >
    < Voltar
  </button>
  <button
    onclick="window.location.href = '/veiculos/criar'"
    type="button"
    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
  >
    Novo veiculo
  </button>
</nav>
{% endblock %} {% block content %}
<div class="flex flex-col w-1/2 mx-auto py-8 space-y-2">

  {% if vehicles | length > 0 %}
    {% for vehicle in vehicles%} 
      {% include "vehicle_card.html" with context %} 
    {%endfor %}
  
  {% else %}

    <div class="flex flex-col text-2xl max-w-md mx-auto">
      <p class="py-5 mx-auto">Nenhum veiculo cadastrado!!</p>
    </div>

  {% endif %}

</div>
{% endblock %}
